# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Cache files
# Se deja noticias_cache.json, ubicaciones.json y map_coords.json para el deploy
backend/expositores.txt
# backend/map_coords.json (Desbloqueado para despliegue)

# Environment variables
.env
backend/.env
frontend/.env

# Local logs
*.log

# Build outputs
frontend/dist/
backend/dist/
*.exe

# System files
.DS_Store
Thumbs.db
